body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica; }

a {
  text-decoration: none; }

.login-page {
  background: url("../image/sign-up-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }
  .login-page .login-box {
    padding: 30px 20px 15px;
    background-color: white;
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%); }
    .login-page .login-box span, .login-page .login-box input, .login-page .login-box a {
      display: block; }
    .login-page .login-box a {
      color: #408eba;
      clear: both;
      margin-bottom: 10px;
      font-size: 14px; }
    .login-page .login-box input {
      margin: 10px 0;
      width: 100%;
      border: none;
      background-color: #fafec0;
      height: 30px;
      color: black; }
    .login-page .login-box input[type='email'] {
      background-image: url("../image/email-20.png");
      background-position: 333px 7px;
      background-repeat: no-repeat; }
    .login-page .login-box input[type='password'] {
      background-image: url("../image/lock-20.png");
      background-position: 333px 5px;
      background-repeat: no-repeat; }
    .login-page .login-box span {
      text-align: center;
      color: #666666; }
    .login-page .login-box .rem {
      margin-top: 20px;
      text-align: left;
      float: left; }
    .login-page .login-box .sign-in {
      width: 90px;
      float: right;
      background-color: #408eba;
      color: white; }

/*# sourceMappingURL=style.css.map */
