#datatable_wrapper .dt-buttons{
	/*display:none;*/
	margin-top: -40px;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 20px;
}
#datatable_wrapper .top{
	display:none;
}
.btn.btn-default.pull-center.categories{
	padding: 5px 25px;background:#9dd4f2;
}
.modal-backdrop.show {
	opacity:0;
}
#addNextCategoryPart{
	display:none;
}
.addNextCategory{
	font-size: 15px;
	text-decoration: underline;
}
.alignCenter {
	text-align:center;
}
.category-main-content{
	border: 1px solid lightgray; border-radius: 5px; /*padding-top:10px;*/
}
.modal-dialog{
	width: 700px;
}
.table.table-bordered.table-striped tr{
	cursor:pointer;
}
.table.table-bordered.table-striped tr:hover{
	background:lightgray;
	color:#FFFFFF;
}
.f-header-small-box {
    width: 60% !important;
}

.addCountyDetails{
	font-size: 18px;font-weight: bold;margin-bottom: 10px;
}
.addCountyDetails a{
	font-size: 20px;font-weight: bold;
}
div.alert.alert-success{
	text-align:center;
}