@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    background: #fff;
}

.t-app-details-wrapp{
    display: flex;
}

/* Tier 2 App */
.up-status {
    display: flex;
    flex-flow: wrap;
}

.p-note {
    font-size: 11px;
}

.up-list {
    width: 33.3%;
}

.up-list p {
    padding: 0;
    font-size: 11px;
    font-weight: bold;
}

.up-app {
    width: 33.3%;
}

.update-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 90%;
    height: 30px;
    border: 1px solid orangered;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 35px;
}

.up-list select {
    width: 80%;
    height: 30px;
}

#i-padd{
    padding: 20px;
}

#i-list{
    /*width: 50%;*/
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 13px;
}

#i-list li {
    display: flex;
    line-height: 10px;
    line-height: 24px;
}
#i-list li div {
    width: 50%;
}

.miscel{
    display: flex;
    flex-flow: wrap;
    font-size: 13px;
}

.miscel div {
    width: 50%;
}
.miscel h4 {
    width: 100%;
}

.i-head{
    line-height: 15px;
    white-space: nowrap;
    width: 100%;
}

/* end Tier 2 App*/

/* Tier 3 App */



/* end Tier 3 App */


/* Tier App Training Update */

.train-block {
    width: 60%;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.train-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.train-block ul li {
    margin-bottom: 5px;
}
.train-block a {
    text-decoration: none;
    color: #5D9CE5;
}
.train-block h4 {
    color: #f56600;
}



/* end Tier App Training Update */


.movableContent {
    border: 0px;
    position: relative;
    background: #fff;
}

.movabledes h1 {
    font-size: 18px;
    color: #626262;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 0;
}

.reunifyContent {
    border: 0px;
    position: relative;
    background: #f56600;
    padding: 9px 0;
}

.movableContent {
    border: 0px;
    padding: 15px 0;
    position: relative;

}

.contentEditable h2 {
    font-size: 15px;
    font-weight: bold;
    color: #737373;
    line-height: 22px;
    margin: 0;
}

.contentEditable p {
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    line-height: 22px;
    margin: 0;
}

.reunifyContent p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.glob_need p {
    font-size: 12px;
    font-weight: 500;
    color: #868686;
    line-height: 22px;
    margin: 12px 0;
    background: #fff;
    padding: 10px;
    height: 90px;
}

.movabledes {
    border: 0px;
    padding-top: 0px;
    position: relative;
}

.movabledes p {
    font-size: 15px;
    color: #626262;
    font-weight: 400;
    border-top: 1px solid #b3b3b3;
    padding: 10px 0 0;
}

.aut_name {
    color: #626262;
    font-weight: 600;
    margin: 0;
    font-size: 14px;
    line-height: 27px;
}

.aut_name {
    color: #626262;
    font-weight: 600;
    margin: 0;
}

.main_name {
    font-weight: 400;
}

.content_btn a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    padding: 14px 30px;
    display: table;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #f56600;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.content_btn a:hover {
    color: #fff;
    border: 1px solid #f56600;
    background: #f56600;
}

.content_btns a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #737373;
    padding: 14px 30px;
    display: table;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid #f56600;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.content_btns a:hover {
    color: #fff;
    border: 1px solid #f56600;
    background: #f56600;
}

.movable_des {
    border: 0px;
    padding: 15px 20px;
    position: relative;
}

.movableContent_inn {
    border: 0px;
    padding: 15px 20px;
    position: relative;
}

.bgItem {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    height: 320px;
}

.movable_des h1 {
    font-size: 18px;
    color: #626262;
    font-weight: 600;
    text-align: center;
    margin: 15px 0 0;
}

.movable_des h2 {
    font-size: 16px;
    color: #f56600;
    font-weight: 500;
    text-align: center;
    margin: 10px 0 0;
}

.movable_des h3 {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    padding: 10px 0;
    font-style: italic;
    line-height: 28px;
}

.movable_des p {
    color: #626262;
    font-weight: 500;
    margin: 0;
    text-align: center;
    box-shadow: 0px 5px 10px #00000026;
    padding-bottom: 15px;
    line-height: 28px;
}

.top_btn {
    font-weight: 600;
    margin: 4px;
    background: #cfcfcf;
    padding: 5px 11px;
    color: #626262;
}

.top_btn a {
    color: #382F2E;
    text-decoration: none;
}

.req_content {
    border: 0px;
    padding: 0px 0 30px;
    background: #f5f2f9;
    margin: 20px 0;
    border-top: 1px solid #000;
    position: relative;
    margin-bottom: 0;
}

.req_content h1 {
    font-size: 18px;
    color: #626262;
    font-weight: 600;
    text-align: center;
    margin: 30px 0 0;
}

.req_content h2 {
    font-size: 15px;
    color: #626262;
    font-weight: 600;
    margin: 10px 0 0;
}

.req_des {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.content_data h1 {
    font-size: 26px;
    color: #626262;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 0;
}

.content_data h3 {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 28px;
    margin: 7px 0 0;
}

.team_sign {
    color: #f56600 !important;
}

.mid_btn {
    color: #fff;
    text-decoration: none;
}

.col_cont h4 {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0 0;
}

.col_cont {
    text-align: center;
}

.col_cont a {
    text-decoration: none;
}

.close_btn {
    border: 0px;
    margin: 0 0;
    background: #f5f2f9;
    padding-top: 0px;
    position: relative;
}

.close_btn h1 {
    margin: 0;
    padding: 0px 0;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}

.close_btn a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.close_btn a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.main_btns a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.main_btns a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.church {
    background: #da0000;
}

.content_data h2 {
    font-size: 26px;
    color: #da0000;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 0;
}

.content_data h1 {
    font-size: 26px;
    color: #626262;
    font-weight: 500;
    text-align: center;
    margin: 15px 0 0;
}

.main_btns {
    border: 0px;
    margin: 40px 0;
    padding-top: 0px;
    position: relative;
}

.text_btn h1 {

    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}

.text_btn {
    border-top: 1px solid #b3b3b3;
}

.text_btn p {
    margin: 0;
    line-height: 28px;
    color: #626262;
}

.new {
    font-weight: 600;
    margin: 0px;
    color: #ffffff;
    font-size: 15px;
    padding: 3px 9px;
    background: #f56600;
}

.text_btn a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.text_btn a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.text_btns {
    border: 0px;
    margin: 40px 0 0;
    background: #f5f2f9;
    padding-top: 0px;
    position: relative;
    border-top: 1px solid #b3b3b3;

}

.text_btns h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}

.text_btns p {
    margin: 0;
    line-height: 28px;
    color: #626262;
}

.text_btns a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.text_btns a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.text_btnss {
    border: 0px;
    margin: -20px 0;
    background: #f5f2f9;
    padding-top: 0px;
    position: relative;
    border-top: 1px solid #b3b3b3;

}

.text_btnss h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}

.text_btnss p {
    margin: 0;
    line-height: 28px;
    color: #626262;
}

.text_btnss a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.text_btnss a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.main_btns h4 {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0 0;
}

.content_data {
    margin: 0 0 0px;
}

.col_point li {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 28px;
    margin: 10px 0 0;
}

/*-----12april--------*/
.text_btn1 h4 {
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0 0;
    text-align: center;
}

.text_btn1 {
    margin-bottom: 0px;
}

.re-closed {
    background: #c5c1cf;
}

.re-closed p {
    color: #363933;
}

.reunifyContent.re-closed1 {
    background: #484a49;
}

.movabledes-req-closed h1 {
    margin-top: 10px;
    border-top: dashed 1px #ededed;
    padding-top: 14px;
}

.btn-styling a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.btn-styling a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.rm-req {
    background: #f7f7f8;
}

.text_btn1 h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #626262;
}

.text_btn1 h3 {
    margin: 0 0 10px;
    font-size: 26px;
    font-weight: 500;
    color: #626262;
}

.text_btn1 h2 {
    font-size: 18px;
    color: #626262;
    font-weight: 600;
    line-height: 24px;
    margin: 10px 0 0;
    text-align: center;
}

.col-bord {
    border-bottom: 1px solid #b3b3b3;
    padding: 0 0 10px;
}

.appr_head {
    color: #f56600;
}

.app_dtl {
    color: #f56600 !important;
}

h3.church_link {
    color: #f56600;
}

.cls_church {
    background: #15bd6c;
}

.req_church {
    background: #15bd6c;
    margin: 12px 0;
}

.cp_point li {
    list-style: none;
    font-size: 15px;
    color: #626262;
    font-weight: 500;
    line-height: 28px;
    margin: 10px 0 0;
}

.cp_point {
    padding: 0;
}

.thnk {
    color: #626262;
}

.engage_btn {
    border: 0px;
    margin: 0 0;
    background: #f5f2f9;
    padding-top: 0px;
    position: relative;
}

.engage_btn a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.engage_btn a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

.spread_btns {
    border: 0px;
    background: #f5f2f9;
    padding-top: 0px;
    position: relative;
    border-top: 1px solid #b3b3b3;

}

.spread_btns h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    color: #626262;
    font-weight: 400;
}

.spread_btns p {
    margin: 0;
    line-height: 28px;
    color: #626262;
    font-size: 15px;
}

.spread_btns a {
    background: transparent;
    color: #626262;
    border-radius: 4px;
    padding: 17px 26px;
    text-decoration: none;
    border: 1px solid #f56600;
}

.spread_btns a:hover {
    background: #f56600;
    color: #fff;
    border: 1px solid #f56600;
}

/*----------MEDIA----------------*/
@media only screen and (max-width: 680px) {

    a {
        color: #382F2E;
        text-decoration: none;
    }

    p {
        color: #000;
    }
}

@media only screen and (max-width: 680px) {
    .tableContent.bgBody {
        table-layout: fixed;
        max-width: 95% !important;
    }

    table[class="MainContainer"], td[class="cell"] {
        width: 100% !important;
        height: auto !important;
    }

    p {
        font-size: 14px !important;
        padding: 0px 20px;
    }

    h2 {
        padding: 0px 20px !important;
    }

    h3 {
        text-align: center;
    }

    .specbundle2 {
        display: none;
    }

    .specbundle4 {
        width: 100% !important;
        display: block;
    }
}

@media only screen and (max-width: 670px) {
    .glob_need {
        display: block;
    }

    .bgItem {
        /* background-image: url(images/bg.png); */
        background-repeat: no-repeat;
        height: 320px;
        background: #eee;
    }
}
