.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pl-2 {
    padding-left: 2%;
}

.pl-5 {
    padding-left: 5%;
}

.pr-0 {
    padding-right: 0;
}

.pr-2 {
    padding-right: 2%;
}

.pr-5 {
    padding-right: 5%;
}

.pb-1 {
    padding-bottom: 1%; !important;
}

.pb-2 {
    padding-bottom: 2%; !important;
}

.pb-3 {
    padding-bottom: 3%; !important;
}

.pb-4 {
    padding-bottom: 4%; !important;
}

.pb-5 {
    padding-bottom: 5%; !important;
}

.pl-1 {
    padding-left: 1%; !important;
}

.pl-2 {
    padding-left: 2%; !important;
}

.pl-3 {
    padding-left: 3%; !important;
}

.pl-4 {
    padding-left: 4%; !important;
}

.pl-5 {
    padding-left: 5%; !important;
}

.pt-1 {
    padding-top: 1%;
}

.pt-2 {
    padding-top: 2%;
}

.pt-3 {
    padding-top: 3%;
}

.pt-4 {
    padding-top: 4%;
}

.pt-5 {
    padding-top: 5%;
}

.plr-1 {
    padding-left: 1%;
    padding-right: 1%;
}

.plr-2 {
    padding-left: 2%;
    padding-right: 2%;
}

.plr-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.plr-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.m-0 {
    margin: inherit;
}

.m-05 {
    margin: 0.5%;
}

.mr-1 {
    margin-right: 1%;
}

.mr-2 {
    margin-right: 2%;
}

.mr-3 {
    margin-right: 3%;
}

.mr-4 {
    margin-right: 4%;
}

.mr-5 {
    margin-right: 5%;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2%;
}

.mb-5 {
    margin-bottom: 10%;
}

.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.ml-3 {
    margin-left: 3%;
}

.ml-4 {
    margin-left: 4%;
}

.ml-5 {
    margin-left: 5%;
}

.mt-5 {
    margin-top: 5%;
}

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 5%;
}

.mt-10 {
    margin-top: 10%;
}
.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%; !important;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

.b-0 {
    border: 0;
}

.br-1 {
    border-radius: 5px;
}

.form-control {
    border-radius: 5px;
}

.font-bold {
    font-weight: 600;
}

.f-16 {
    font-size: 16px; !important;
}

.f-18 {
    font-size: 18px; !important;
}

.f-20 {
    font-size: 20px; !important;
}

.bg-none {
    background-color: inherit;
}

.bg-light {
    background-color: #fff;
}

.bg-light-green {
    background-color: #14f803;
}

.bg-red {
    background-color: red;
}

.border-dark {
    border: 1px solid #000;
}

.b-error {
    border: 1px solid red;
}

.bold {
    font-weight: bold;
}

.cp {
    cursor: pointer;
}

.text-dark {
    color: #333;
}

.text-light-green {
    color: #14f803;
}

.text-red {
    color: red;
}

.resize-none {
    resize: none;
}


.f-create {
    font-size: 23px;
    color: #0748ed;
}
.f-create:hover {
    color: #0748ed;
}

.f-header {
    box-shadow: 0 3px 21px #b1acac;
}

.f-header.small-box-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 64px;
}
.f-header .number {
    font-size: 8vw;
    margin-bottom: inherit;
    font-weight: normal;
}


@media(min-width: 991px) {
    .f-header-small-box {
        width: 100%;
    }

    .f-header .number {
        font-size: 80px;
    }

    .font-40 {
        font-size: 40px !important;
    }

}




.small-box-bg-white {
    background-color: #fff;
    padding: 10px 0;
}
.skin-blue .bg-light {
    background-color: #fff;
}

.actions {
    width: 100%;
    text-align: right;
}

.form-row {
    margin-bottom: 15px;
}
.photo-preview {
    margin-bottom: 10px;
    max-width: 100%;
}

.inline {
    display: inline-block;
    width: auto;
}

.color-red {
    color: red;
}

/*****************************************
  upload button styles
******************************************/
.file-upload {
    position: relative;
    display: inline-block;
}
.file-upload__label {
    display: inline-block;
    padding: 0.5em 1.0em;
    color: #fff;
    background: #333;
    transition: background .3s;
    font-size: 14px !important;
    width: auto;
}
.file-upload__label:hover {
    cursor: pointer;
    background: #3f3f3f;
}
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /*font-size: 1;*/
    width: 0;
    height: 100%;
    opacity: 0;
}
.full-width {
    width: 100%;
}


/**
 * Checkboxes style
 */
.checkboxes-group label {
    display: inline;
}
.checkboxes-group .regular-checkbox {
    display: none;
}
.checkboxes-group .regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}
.checkboxes-group .regular-checkbox + label:active,
.checkboxes-group .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkboxes-group .regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.checkboxes-group .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}
.checkboxes-group .big-checkbox + label {
    padding: 18px;
}
.checkboxes-group .big-checkbox:checked + label:after {
    font-size: 28px;
    left: 6px;
}
.checkboxes-group .tag {
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}
.checkboxes-group .radio-1 {
    width: 193px;
}
.checkboxes-group .button-holder {
    float: left;
}
/* RADIO */
.checkboxes-group .regular-radio {
    display: none;
}
.checkboxes-group .regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.checkboxes-group .regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0;
    left: 3px;
    font-size: 32px;
}
.checkboxes-group .regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.checkboxes-group .regular-radio + label:active,
.checkboxes-group .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkboxes-group .big-radio + label {
    padding: 16px;
}

.checkboxes-group .big-radio:checked + label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}

.checkboxes-group-block > span {
    position: relative;
    top: -19px;
    margin-right: 5px;
}
.checkboxes-group-block {
    display: inline-block;
    margin-right: 5px;
}

/**
 General
 */
.object-search {
    font-size: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.object-search {
    max-width: 50%;
}

.content {
    min-height: 850px;
}

.no-top-header .dataTables_info {
    display: none;
}

button.showall {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 5px 15px;
    margin: 8px 8px 2px 16px;
}
.dataTable thead {
    background-color: #666666;
    color: #fff;
}
.dataTables_paginate {
    float: left;
    width: auto;
    display: inline-block;
    text-align: left !important;
}

.dataTables_filter {
    display: none;
}

.box-body.table-responsive {
    padding: 0;
}

.input-search {
    width: 50%;
}
@media(max-width: 991px) {
    .input-search {
        max-width: 44%;
    }
}

@media(max-width: 768px) {
    .input-search {
        max-width: 40%;
    }
}


/**
 * Bootstrap: 5 columns support
 */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

td.status-step-1,
td.status-step-2,
td.status-step-3 {
    background:yellow;
}
td.status-active {

}