

.sign-up-wrapper {
  font-family: Arial;
  font-size: 16px;
  color: #7a7979;
}

.sign-up-wrapper a {
  text-decoration: none;
}


.sign-up-wrapper .sign-up-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 30px;
  outline: 1px solid black;
}

.sign-up-wrapper .sign-up-container .clearfull {
  clear: both;
}

.sign-up-wrapper .sign-up-container .middle {
  margin: 0 auto;
}

.sign-up-wrapper .sign-up-container .head-panel .ip-logo {
  color: #5094e3;
  font-weight: bold;
  width: 150px;
  height: 60px;
  background-color: lightgray;
  border: 2px solid #7a7979;
  float: left;
}

.sign-up-wrapper .sign-up-container .head-panel .ip-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sign-up-wrapper .sign-up-container .head-panel .care-portal-logo {
  width: 100px;
  float: right;
  margin: 40px 0 20px;
}

.sign-up-wrapper .sign-up-container .head-panel .care-portal-logo img {
  width: 100%;
  height: 100%;
}

.sign-up-wrapper .sign-up-container .head-panel .activate-button {
  margin-top: 30px;
  clear: both;
  display: block;
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: #f56600;
  color: white;
  font-weight: bold;
}

.sign-up-wrapper .sign-up-container .content .d-input {
  width: 130px;
}

.sign-up-wrapper .sign-up-container input[type="text"] {
  height: 30px;
  font-size: 25px;
  display: block;
}

.sign-up-wrapper .sign-up-container input[type="submit"] {
  width: 160px;
  height: 38px;
  display: block;
  margin: 80px auto 0;
  color: white;
  cursor: pointer;
  font-size: 21px;
  text-transform: uppercase;
  background-color: #f56600;
  border: none;
}

.sign-up-container .content .c-name {
  color: #5094e3;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

.sign-up-container .content .c-name {
  color: #5094e3;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

.sign-up-container .content .form-block input {
  color: #7a7979;
}

.sign-up-container  .important {
  color: red;
}

.sign-up-container .content .form-block select {
  width: 70%;
}

.sign-up-container .content .form-block .form-sub-block select {
  width: 25%;
}

.sign-up-container .content .form-block .form-sub-block input {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: initial;
  border: 1px solid #7a7979;
}

.sign-up-container .content .fill-field input {
  margin: 0;
  width: 90%;
  background-color: initial;
  border: 1px solid #7a7979;
}

.sign-up-container .content #select-date {
  margin: 0;
  padding: 0;
  background-color: initial;
  border: 1px solid #7a7979;
}

.sign-up-container .content .c-h-name {
  color: black;
  font-weight: bold;
}

.sign-up-container .content .request-block ul {
  padding: 0;
}

.sign-up-container .content .request-block ul li {
  margin-bottom: 10px;
  display: flex;
}

.sign-up-container .content .request-block ul li .u-data {
  color: #4c4b4b;
  flex: 3;
  text-align: left;
}

.sign-up-container .content .request-block ul li .u-value {
  color: #4a90e2;
  flex: 7;
}

.sign-up-container .content .request-block .send-note {
  width: 90%;
  height: 90px;
}

.sign-up-container .content .c-h-name {
  color: black;
  font-weight: bold;
}

.sign-up-container .content .t-head {
  font-weight: bold;
}

.sign-up-container .content .p-request-block ul {
  font-size: 12px;
  color: #4a90e2;
  padding: 0;
  width: 70%;
}

.sign-up-container .content .p-request-block ul .p-r-head {
  font-size: initial;
  font-weight: bold;
  color: black;
}

.sign-up-container .content .p-request-block ul li {
  display: flex;
  margin-bottom: 10px;
}

.sign-up-container .content .p-request-block ul li div {
  flex: 1;
}

.sign-up-container .content .respond-form .respond-form-section select {
  width: 240px;
  height: 37px;
  font-size: 16px;
}

.sign-up-container .content .respond-form .respond-form-section input {
  height: 30px;
  font-size: 16px;
}

.sign-up-container .content .respond-form .respond-form-section input[type="email"] {
  width: 468px;
}

.sign-up-container .content .respond-form .respond-form-section input[type="number"] {
  width: 240px;
}

.sign-up-container .content .respond-form .respond-form-section textarea {
  width: 90%;
  height: 90px;
}

.sign-up-container .content .respond-form .respond-form-section .u-data {
  font-size: 12px;
}

.sign-up-container .content {
  /****** Style Star Rating Widget *****/
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */
}

.sign-up-container .content fieldset, .sign-up-container .content label {
  margin: 0;
  padding: 0;
}

.sign-up-container .content body {
  margin: 20px;
}

.sign-up-container .content h1 {
  font-size: 1.5em;
  margin: 10px;
}

.sign-up-container .content .rating {
  border: none;
  float: left;
}

.sign-up-container .content .rating > input {
  display: none;
}

.sign-up-container .content .rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.sign-up-container .content .rating > .half:before {
  content: "\f089";
  position: absolute;
}

.sign-up-container .content .rating > label {
  color: #ddd;
  float: right;
}

.sign-up-container .content .rating > input:checked ~ label,
.sign-up-container .content .rating:not(:checked) > label:hover,
.sign-up-container .content .rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.sign-up-container .content .rating > input:checked + label:hover,
.sign-up-container .content .rating > input:checked ~ label:hover,
.sign-up-container .content .rating > label:hover ~ input:checked ~ label,
.sign-up-container .content .rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.sign-up-container .content select {
  width: 240px;
  height: 37px;
  font-size: 16px;
}

.sign-up-container .content .note-box textarea {
  width: 90%;
  height: 90px;
}

.sign-up-container .content .verify-p {
  margin: 30px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 0;
  background-color: #f56600;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

.enrollment-area{
  width: 100%;
  height: 65px;
  resize: vertical;
}

#full-width{
  width: 100%;
}

.ch-link-color a{
  color: #f56600;
}

#submitted-block{
  max-width: 140px;
  white-space: pre-wrap;
}


.ch-link-color div{
  text-align: center;
  white-space: nowrap;
}



.p-details{
  margin-top: 7%;
}

.p-request-block{
  margin-bottom: 8%;
}
.sp-rating{
  margin: 5% 0 -2% 0;
}
.rating-question{
  margin-bottom: 0;
}


.checkbox-input  {
  width: 1.5em;
  height: 1.5em;

}

.close-request-block li{
  display: flex;
  align-items: center;
}

.close-request-block span{
  margin-left: 15px;
}

.rating label{
  font-size: 25px;
}
.p-request-id{
  margin-bottom: 3%;
}


.g-form{
  margin-top: 60px;
}

.g-form p {
  color: #4c4b4b;
  flex: 3;
}

.g-form span {
  color: #4c4b4b;
  font-weight: bold;
}

.g-form textarea {
  width: 95%;
  height: 70px;
}


.g-form input[type="number"] {
  height: 30px;
}

#mt-50 {
  margin-top: 50px;
}

.g-form-head span {
  color: #4a90e2;
  flex: 7;
}

.g-form-head{
  display: flex;
  align-items: center;
}



/*# sourceMappingURL=style.css.map */
